@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5ebd6;
}

main{
    background-color: white;
    margin: auto;
}
header{
    text-align: center;
}
header nav > ul > li > a{
    font-style: none;
}
footer{
    background-color: green;
    color: white;
    text-align: center;
}